@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* @layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }


} */

@keyframes bounce {
  0%,
  10%,
  25%,
  40%,
  50% {
    transform: translateY(0);
  }
  22% {
    transform: translateY(-16px);
  }
  35% {
    transform: translateY(-10px);
  }
  50%,
  100% {
    transform: translateY(0);
  }
}

.animate-bounce1 {
  animation: bounce 5s ease infinite;
}
/* .bg-grad {
  background: rgb(30, 30, 30);
  background: radial-gradient(
    circle,
    rgba(30, 30, 30, 0.3) 0%,
    rgba(30, 30, 30, 0.4) 50%,
    rgba(30, 30, 30, 0.6) 100%
  );
} */

/* .bg-grad {
  background-image: linear-gradient(
    to right,

    hsla(0, 0%, 40%, 0.9),
    hsla(0, 0%, 40%, 0.95),
    hsla(0, 0%, 40%, 1)
  );
} */

/* .bg-grad {
  background-color: lightgrey;
} */

.icon-bg-red {
  background-color: rgba(187, 42, 38, 0.8);
}

.custom-grid {
  grid-template-columns: max-content 1fr;
  column-gap: 14px; /* Adjust this value to control the space between columns */
}

.details-link-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px; /* Adjust the padding as needed */
}

.btn {
  text-decoration: none;
  color: hsl(200, 20%, 95%);
  background: hsl(210, 13%, 53%);
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: hsl(209, 24%, 47%);
}

.rectangle {
  margin: 0 auto;
  width: calc(100% - 60px);
  max-width: 100%;
  position: relative;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background: linear-gradient(
    to left,
    hsla(0, 0%, 40%, 0.8),
    hsla(0, 0%, 40%, 0.9),
    hsla(0, 0%, 40%, 1)
  );
}

.centered-heading {
  padding-left: 130px; /* Adjust this value as needed */
  padding-right: 130px; /* Adjust this value as needed */
}

.authorize-text {
  padding-left: 100px; /* this value as needed */
  /* padding-right: 100px; Adjust this value as needed */
  /* margin-bottom: 50px; Adjust this value to move text further from the bottom */
  /* Ensure the text container takes full width */
}

/* .flex-auth-button {
  flex 
  flex-col 
  flex-1
}

.flex-auth-text {
  flex
  flex-col 
  flex-1
} */
